.App {
  text-align: center;
}
.form-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  padding: 30px;
}
@primary-color: #1890ff;
